@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.encabezado{
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:#325F87;
    border-radius: 2px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#buscar{
border: 1px solid;
width: 33px;
height: 29px;
background-color:#325F87;
border-color: white;
border-radius: 10px;
font-family: 'Roboto Slab', serif;
}
#secciones{
    border: 1px solid;
    width: 120px;
    height: 29px;
    color: white;
    background-color: #325F87;
    border-color: white;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: -2px;
}
#secciones img{
    width: 20px;
    margin-top: 2px;
    margin-left: 1px;
}
#hamburguesa-responsive{
    width: 28PX;
    height: 25px;
}
#suscripcion{
    width: 220px;
    height: 29px;
    color: white;
    background-color: #CD2ECD;
    border-color: white;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}
#estrellaNoticias{
    border: 1px solid;
    width: 120px;
    height: 29px;
    color: white;
    background-color:aqua;
    border-color: white;
    border-radius: 10px;
    font-family: 'Roboto Slab', serif;
}
#estrella-responsive{
    width: 26px;
    height: 27px;
    border-radius: 12px;
    border: 2px solid black;
}
#usuario{
    border: 1px solid;
    width: auto;
    height: 29px;
    background-color: #325F87;
    border-color: white;
    border-radius: 10px;
    color: white;
    font-family: 'Roboto Slab', serif;
}
#usuario-responsive{
    width: 26px;
    height: 27px;
    border-radius: 10px;
}
#parteIzquierda{
    display: flex;
    justify-content: center;
}
#parteIzquierda a{
    color: white;
}
#parteDerecha{
    display: flex;
}
#parteDerecha a{
color: white;
}
.enlacesPrincipales{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    border-bottom: 4px solid #325F87;
    position: sticky;
    }
    
    .fecha{
        display: flex;
        gap: 4px;
    }
    .reloj{
        display: inline-flex;
        display: none;
    }
    #calendario h1{
        font-size: 10px;
    }
    #calendario a{
        color: black;
    }
    
    #EnlaceTiempo{
        font-size: 60px;
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
    }
    #EnlaceTiempo a{
        color: #325F87;
        margin-left: 40px;
    }
    
    #botonesRedes{
        border: 1px solid;
        border-color: white;
        align-items: flex-end;
        margin-right: 40px;
    }
    #botonesRedes a {
        color: white;
    }
    
    #RedSocial{
        margin-top: 20px;
        border: 1px solid;
        width: 30px;
        height: 29px;
        background-color:transparent;
        border-color: white;
        border-radius: 10px
    }
    #RedSocial img{
        width: 30px;
        }
        .enlacesNoticias{
            background-color: white;
            font-size: 12px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            margin-top: 10px;
            border-bottom: 1px solid gray;
            margin-bottom: 20px;
        }
        .enlacesNoticias a{
            color: black;
        }
#imagenFondo img{
    width: 1335px;
    height: 400px;
}
#registro{
    display: flex;
    justify-content: center;
}
.one{
    position: absolute;
    z-index: 4;
}
.two{
    z-index: 5;
}
#formulario{
    margin-top: 100px;
    background:white;
    width: 512px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 3px solid;
    align-items: center;
}
#formulario p{
    width: 52%;
}
#inicioSesion{
    font-size: 30px;
    font-weight: bold;
}
#correo{
    margin-left: 15px;
    height: 35px;
    width: 290px;
    border-radius: 0px;
}
#contraseña{
    margin-left: 15px;
    height: 35px;
    width: 290px;
    border-radius: 0px;
}
#botonEnviar{
    border-radius: 2px;
    width: 20%;
}
@media(min-width: 480px){
.encabezado{
    display: none;
}
}
@media(max-width: 480px){
    .TemasDelDia{
        width: 100%;
        margin-left: 0px;
        display: none;
    }
    .enlacesPrincipales{
    display: none;
    }
    .enlacesNoticias{
        display: none;
    }
#parteIzquierda{
    gap: 12px;
}
#parteDerecha{
    gap: 6px;
}
#span-contenedor{
    margin-top: 20px;
}
#buscar{
    display: none;
}
#secciones{
    display: none;
}
#EnlaceTiempoResponsive{
    margin: auto;
}
#usuario{
    display: none;
}
#estrellaNoticias{
    display: none;
}
#estrella-responsive{
    margin-right: 20px;
}
#usuario-responsive{
    margin-left: 0px;
    border-radius: 8px;
}
#suscripcion{
    font-size: 9px;
    width: 85px;
}
#imagenFondo img{
    width: 100%;
    height: 500px;
}
#formulario{
    width: 84%;
    height: 375px;
    margin-top: 40px;
    align-items: center;
    border-radius: 0;
}
#formulario p{
    width: 80%;
    color: gray;
}
#inicioSesion{
    margin-left: 0px;
    font-weight: bold;
}
#correo{
    width: 100%;
    margin: 0;
    border-radius: 0;
}
#contraseña{
    width: 100%;
    margin: 0;
    border-radius: 0;
}
#botonEnviar{
    width: 36%;
    background-color: #325F87;
}

}