@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Sofia+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.enlacesPrincipales{
    display: flex;
    width: 1115px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    border-bottom: 4px solid #325F87;
    position: sticky;
    }
    #calendario h1{
        font-size: 10px;
    }
    #calendario a{
    color: black;
    }
    
    #EnlaceTiempo{
        font-size: 60px;
        /* font-family: 'Poppins', sans-serif; */
        font-family: 'Roboto Slab', serif;
        font-weight: 500;
    }
    #EnlaceTiempo a{
        color: #325F87;
        margin-left: 40px;
    }
    
    #botonesRedes{
        border: 1px solid;
        border-color: white;
        align-items: flex-end;
    }
    #botonesRedes a {
        color: white;
    }
    
    #RedSocial{
        margin-top: 20px;
        border: 1px solid;
        width: 30px;
        height: 29px;
        background-color:transparent;
        border-color: white;
        border-radius: 10px
    }
    #RedSocial img{
        width: 30px;
        }
        .enlacesNoticias{
            background-color: white;
            font-size: 12px;
            width: 1250px;
            display: flex;
            justify-content: space-between;
            margin-left: 30px;
            margin-top: 10px;
            border-bottom: 1px solid gray;
            margin-bottom: 20px;
        }
        .enlacesNoticias a{
            color: black;
        }
        #verificacionSuscriptor{
            display: flex;
            justify-content: center;
        }
        .cabecera{
            background:#134BBB;
            width: 1365px;
            height: 64px;
        }
        #promocion p{
            display: flex;
            justify-content: center;
            font-size: 44px;
            color: white;
        }
        #tarjetaspago{
            background: antiquewhite;
            width: 502px;
            height: 340px;
            margin-top: 60px;
            margin-left: 20px;
        }
        .precios{
            display: flex;
            justify-content: space-evenly;
            background: #134BBB;
            height: 295px;
        }
        #tarjetas{
            background: white;
            width: 305px;
            height: 395px;
            border-radius: 20px;
            border: 2px solid #9e9e9e;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: space-evenly;
        }
        #tarjetaCredito{
            width: 178px;
            border-radius: 20px;
            height: 40px;
        }
        #PSE{
            width: 178px;
            border-radius: 20px;
            height: 40px;
        }
   
        